# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage


# Existing .gitignore content...

# Add this at the end of your .gitignore
/final_done_project/.DS_Store
/final_done_project/build/
/final_done_project/*.pbxuser
!/final_done_project/default.pbxuser
/final_done_project/*.mode1v3
!/final_done_project/default.mode1v3
/final_done_project/*.mode2v3
!/final_done_project/default.mode2v3
/final_done_project/*.perspectivev3
!/final_done_project/default.perspectivev3
/final_done_project/xcuserdata
/final_done_project/*.xccheckout
/final_done_project/*.moved-aside
/final_done_project/DerivedData
/final_done_project/*.hmap
/final_done_project/*.ipa
/final_done_project/*.xcuserstate
/final_done_project/ios/.xcode.env.local
/final_done_project/build/
/final_done_project/.idea
/final_done_project/.gradle
/final_done_project/local.properties
/final_done_project/*.iml
/final_done_project/*.hprof
/final_done_project/.cxx/
/final_done_project/*.keystore
!/final_done_project/debug.keystore
/final_done_project/node_modules/
/final_done_project/npm-debug.log
/final_done_project/yarn-error.log
/final_done_project/**/fastlane/report.xml
/final_done_project/**/fastlane/Preview.html
/final_done_project/**/fastlane/screenshots
/final_done_project/**/fastlane/test_output
/final_done_project/*.jsbundle
/final_done_project/ios/Pods/
/final_done_project/vendor/bundle/
/final_done_project/.metro-health-check*
/final_done_project/coverage

/demo_project/.DS_Store
/demo_project/build/
/demo_project/*.pbxuser
!/demo_project/default.pbxuser
/demo_project/*.mode1v3
!/demo_project/default.mode1v3
/demo_project/*.mode2v3
!/demo_project/default.mode2v3
/demo_project/*.perspectivev3
!/demo_project/default.perspectivev3
/demo_project/xcuserdata
/demo_project/*.xccheckout
/demo_project/*.moved-aside
/demo_project/DerivedData
/demo_project/*.hmap
/demo_project/*.ipa
/demo_project/*.xcuserstate
/demo_project/ios/.xcode.env.local
/demo_project/build/
/demo_project/.idea
/demo_project/.gradle
/demo_project/local.properties
/demo_project/*.iml
/demo_project/*.hprof
/demo_project/.cxx/
/demo_project/*.keystore
!/demo_project/debug.keystore
/demo_project/node_modules/
/demo_project/npm-debug.log
/demo_project/yarn-error.log
/demo_project/**/fastlane/report.xml
/demo_project/**/fastlane/Preview.html
/demo_project/**/fastlane/screenshots
/demo_project/**/fastlane/test_output
/demo_project/*.jsbundle
/demo_project/ios/Pods/
/demo_project/vendor/bundle/
/demo_project/.metro-health-check*
/demo_project/coverage